@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start {
    display: flex;
    justify-content: start;
    align-items: center;
}

@mixin column {
    flex-direction: column;
}

@mixin style_title {
    color: #101010;
    font-family: Shrikhand;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }
  
  