$pink: #fcc0ce;
$green: #99e2d0;
$green_font: #008766;
$blue: #89C8FA;
$blue_2: #003A68;
$purple: #9356DC;
$black: #101010;
$grey2: #EAEAEA;
$grey: #353535;
$btn_gradient: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
$white: #fff;
$bg: #F6F6F6;