@use '../abstracts' as *;

footer {
    padding: 22px 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: $grey;


    @include desktop{
        flex-direction: row-reverse;
        padding: 30px 25px;
        height: 114px;
        align-items: flex-end;
        margin: 0;
        width: 100vw!important;
    }
    

    >img {
        width: 137.582px;
        height: 27px;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;

        @include desktop{
            flex-direction: row;
            align-items: flex-end;
        }

        a {
            display: flex;
            gap: 11px;
            font-weight: 400;
            text-decoration: none;
            color: $white;
            color: $white;
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @include desktop{
                min-width: 130px;
            }
        }
    }
}