@use '../abstracts' as *;

.order_button {
    margin: 40px 0;
    @include flex-center;

    button {
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        background: $btn_gradient;
        border: none;
        padding: 16px 48px;
        color: $white;
        font-size: 16px;
        font-weight: 500;
    }

    @include desktop{
        background-color: $bg;
        margin-left: auto;
        margin-right: auto;
        margin: 0;
        padding-top: 40px;
        width: 100%;
        max-width: 1055px;
    }
}